<!-- Contact Section -->
	<section id="contact" class="container content-section text-center contact">
		<div id="contact-body" class="contact-body">
			<div class="title animate fadeIn">
            <h1 class="light">Contact Us</h1>
            <br/>
            <h1>Get in Touch with Us</h1>
            <p class="title-detail">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
          </div>
           <div class="row">
            <div class="col-md-12">
              <div class="form animate bounceInUp">
                <fieldset id="contact_form">
                  <p style="color: gold; font-weight: bold;">OO</p>
                  <p style="color: green;">BMJ</p>
                  <p style="color: red;">BMA House</p>
                  <p style="color: green;">Tavistock Square</p>
                  <p style="color: green;">London WC1H 9JR</p>
                  <p style="color: red;">United Kingdom</p>
                  <p style="color: green;">Switchboard: +44 (0)20 7387 4410</p>
                  <p style="color: red;">Customer Service: +44 (0) 20 7111 1105</p>
                  <p style="color: green;">Email: support@bmj.com</p>
                  <p style="color: green; font-weight: bold;">OOOOOO</p>
                  <!--<div id="result"></div>
                  <input class="animate bounceIn" data-delay="500" type="text" name="name" id="name" placeholder="Name" />
                  <input class="animate bounceIn" data-delay="500" type="email" name="email" id="email" placeholder="Email" />
                  <textarea class="animate bounceIn" data-delay="500" name="message" id="message" placeholder="Message"></textarea>
                  <label><span>&nbsp;</span>
                    <button class="submit_btn animate swing" data-delay="1000" id="submit_btn">Submit</button>
                  </label> -->
                </fieldset>
              </div>
            </div>
          </div>
		</div>
	</section>

	<!-- Map Section -->
	<div id="map"></div>