<!-- Job section -->
	<section id="jobs" class="content-section text-center jobs">
		<div class="row jobs-body">		
            <div class="col-md-12">
              <div class="space"></div>
              <h1 class="light">Jobs @ BMJ Technology</h1>
              <br/>
              <h1 class="sponsor ">Read what our colleagues think... </h1>
              <div id="carousel" class="carousel slide" data-ride="carousel"> 
	                <!-- Indicators -->
	                <ol class="carousel-indicators spons">
	                  <li data-target="#carousel" data-slide-to="0" class="active"><img class="pro-logo" src="assets/images/bcaus.png" alt=""></li>
	                  <li data-target="#carousel" data-slide-to="1"><img class="pro-logo" src="assets/images/ratings.png" alt=""></li>
	                  <li data-target="#carousel" data-slide-to="2"><img class="pro-logo" src="assets/images/bcaus.png" alt=""></li>
	                  <li data-target="#carousel" data-slide-to="3"><img class="pro-logo" src="assets/images/ratings.png" alt=""></li>
	                </ol>
	                <div class="carousel-inner spon-detail">
	                  <div class="item active">
	                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English. <span class="rating">RATINGS VIA THEMEFOREST</span></p>
	                  </div>
	                  <div class="item">
	                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English. <span class="rating">RATINGS VIA THEMEFOREST</span></p>
	                  </div>
	                  <div class="item">
	                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English. <span class="rating">RATINGS VIA THEMEFOREST</span></p>
	                  </div>
	                  <div class="item">
	                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting the readable content of a page when looking at its layout. The point of using Lorem Ipsum is it has a more-or-less normal distribution of letters, as opposed readable English. <span class="rating">RATINGS VIA THEMEFOREST</span></p>
	                  </div>
	                </div>
	                <!-- Controls --> 
	                <a class="left carousel-control" href="#carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a> 
                </div>
            </div>
          </div>    	
	</section>
