<!-- News and event section -->
	<section id="news" class="content-section text-center news">
		<div class="news-body">
			    <div class="title animate fadeIn">
          <h2>News & Events</h2>
          <p class="title-detail">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
        <div class="space"></div>
        <div class="com-sec">
          <div class="left-text animate fadeIn"> <span class="title"><a href="blog.html">There are many variations of passages</a></span>
            <div class="clear"></div>
            <span> 05/18/2014</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting by the readable content of a page when looking at its layout and calling you back. They are very responsive. </p>
            <a href="blog.html">read more</a> </div>
          <div class="divider"><img  src="assets/images/timeline-divider.png" alt=""></div>
          <div class="press-img image"><a href="blog.html"><img class="animate fadeIn" src="assets/images/press-img1.jpg" alt=""></a></div>
        </div>
        <div class="clear"></div>
        <div class="com-sec">
          <div class="press-img image"><a href="blog.html"><img class="animate fadeIn" src="assets/images/press-img2.jpg" alt=""></a></div>
          <div class="divider"><img src="assets/images/timeline-divider.png" alt=""></div>
          <div class="right-text  animate fadeIn"> <span class="title"><a href="blog.html">There are many variations of passages</a></span>
            <div class="clear"></div>
            <span> 05/18/2014</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting by the readable content of a page when looking at its layout and calling you back. They are very responsive. </p>
            <a href="blog.html">read more</a> </div>
        </div>
        <div class="clear"></div>
        <div class="com-sec">
          <div class="left-text animate fadeIn"> <span class="title"><a href="blog.html">There are many variations of passages</a></span>
            <div class="clear"></div>
            <span> 05/18/2014</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting by the readable content of a page when looking at its layout and calling you back. They are very responsive. </p>
            <a href="blog.html">read more</a> </div>
          <div class="divider"><img src="assets/images/timeline-divider.png" alt=""></div>
          <div class="press-img image"><a href="blog.html"><img class="animate fadeIn" src="assets/images/press-img3.jpg" alt=""></a></div>
        </div>
      </div>
		</div>
	</section>