<!-- About Section -->
	<section id="about" class="container content-section text-center about">
		<div class="row about-body">
			<div class="col-md-12 ">
				<div class="title animate fadeIn">
					<h1 class="light">We are BMJ Technology</h1>
					<br />
					<h1>We Develop Nice Stuff</h1>
					<p class="title-detail">Insert introduction text here</p>
				</div>
			</div>
			<div class="features" ng-controller="ScrollCtrl">
				<!-- <div class="col-md-3 animate fadeIn" data-delay="300">
					<a data-ng-click="gotoAnchor('coLab')"><i class="fa fa-rocket hovicon effect-1 sub-a"></i></a>
					<a data-ng-click="gotoAnchor('coLab')"><h4>Co-Lab</h4></a>
					<p>Insert brief summary here</p>
				</div> -->
				<div class="col-md-3 animate fadeIn" data-delay="300">
					<a data-ng-click="gotoAnchor('engineering')"><i class="fa fa-flask hovicon effect-1 sub-a"></i></a>
					<a data-ng-click="gotoAnchor('engineering')"><h4>Engineering</h4></a>
					<p>Insert brief summary here</p>
				</div>
				<div class="col-md-3 animate fadeIn" data-delay="900">
					<a data-ng-click="gotoAnchor('businessServices')"><i class="fa fa-envelope hovicon effect-1 sub-a"></i></a>
					<a data-ng-click="gotoAnchor('businessServices')"><h4>Business services</h4></a>
					<p>Insert brief summary here</p>
				</div>
				<div class="col-md-3 animate fadeIn" data-delay="1200">
					<a data-ng-click="gotoAnchor('operations')"><i class="fa fa-coffee hovicon effect-1 sub-a"></i></a>
					<a data-ng-click="gotoAnchor('operations')"><h4>Operations</h4></a>
					<p>Insert brief summary here</p>
				</div>
			</div>
		</div>		
	</section>
	<section id="coLab" class="content-section text-center coLab" style="display:none">
		<div class="row coLab"  ng-controller="ScrollCtrl">
			<div class="col-md-12 ">
				<h1 class="light">We are Co-lab</h1>
				<p class="title-detail">insert introduction here</p>
			</div>			
		</div>
	</section>
	<section id="engineering" class="content-section text-center engineering" style="display:none">
		<div class="row"  ng-controller="ScrollCtrl">
			<div class="col-md-12 ">
				<h1 class="light">We are software engineer team</h1>
				<p class="title-detail">insert introduction here</p>
			</div>		
		</div>
	</section>
	<section id="businessServices" class="content-section text-center businessServices" style="display:none">
		<div class="row"  ng-controller="ScrollCtrl">
			<div class="col-md-12 ">
				<h1 class="light">We are business services team</h1>
				<p class="title-detail">insert introduction here</p>
			</div>			
		</div>
	</section>
	<section id="operations" class="content-section text-center operations" style="display:none">
		<div class="row"  ng-controller="ScrollCtrl">
			<div class="col-md-12 ">
				<h1 class="light">We are Operation team</h1>
				<p class="title-detail">insert introduction here</p>
			</div>
			<!-- <a data-ng-click="gotoAnchor('work')"><span id="next" class="sub-section" /></a> -->
		</div>
	</section>