<!-- How we work section -->
<section id="work" class="content-section text-center work">
	<div class="work-body expertise portfolio">
		<div class="title animate fadeIn">
          <h1 class="light">How We Work</h1>
          <br/>
          <h1>We Create Awesome Stuff</h1>
          <p class="title-detail">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>       
	</div>	
	 <div  id="filters">
        <ul class="clearfix">
          <li><a id="filter-technologies" href="#work" data-filter="*" class="active">
            <h3>Technologies</h3>
            </a></li>
          <li><a id="filter-guidelines" href="#work" class="fancybox" data-filter=".photos">
            <h3>Guidelines</h3>
            </a></li>        
        </ul>
      </div>
        <div id="portfolio-items-wrap">
        <div class="portfolio-item one-third column photos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul id="list" class="portfolio_list da-thumbs">
                <li>
                  <div class="slideUp"><img src="assets/images/portfolio/portfolio3.jpg" alt=""></div>
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox photo-icon" href="assets/images/portfolio/port-large1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"> <i class="fa fa-camera-retro"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column videos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio1.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox-media video-icon" href="http://vimeo.com/36031564"><i class="fa fa-video-camera"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column photos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio2.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox photo-icon" href="assets/images/portfolio/port-large3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"> <i class="fa fa-camera-retro"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column videos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio4.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox-media video-icon" href="http://vimeo.com/36031564"><i class="fa fa-video-camera"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column videos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio5.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox-media video-icon" href="http://vimeo.com/36031564"><i class="fa fa-video-camera"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column photos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio6.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox photo-icon" href="assets/images/portfolio/port-large6.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"> <i class="fa fa-camera-retro"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column videos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio7.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox-media video-icon" href="http://vimeo.com/36031564"><i class="fa fa-video-camera"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portfolio-item one-third column photos">
          <div class="howwework">
            <div class="image_grid portfolio_4col">
              <ul class="portfolio_list da-thumbs">
                <li> <img src="assets/images/portfolio/portfolio8.jpg" alt="">
                  <article class="da-animate da-slideFromRight" style="display: block;"> <a class="fancybox photo-icon" href="assets/images/portfolio/port-large8.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"> <i class="fa fa-camera-retro"></i>
                    <h5>BMJ Technology<br/>
                      <span>Latest  Work</span></h5>
                    <span>photos</span> </a></article>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</section>